{% extends "layout.html" %} {% block content %}
<form action="/sign-out" method="GET">
  <button class="btn">Sign out</button>
</form>
<div class="main-title">
  <h2 class="mini-title">Output Database</h2>
  <form action="/export-do" method="POST" enctype="multipart/form-data">
    <button id="item">Export</button>
  </form>
  <section>
    <h4>image name</h4>
    <h4>x_min</h4>
    <h4>x_max</h4>
    <h4>y_min</h4>
    <h4>y_max</h4>
    <h4>label</h4>
    {% for i in output %}
    <span>{{ i }}</span>
    {% endfor %}
  </section>
</div>
{% endblock %}
