{% extends "layout.html" %} {% block content %}
<form action="/sign-out" method="GET">
  <button class="btn">Sign out</button>
</form>
<div class="main-title">
  <h2 class="mini-title">Image Download</h2>
  <ul>
    {% for file in files %}
    <li>
      <form action="/image-down-do" method="POST" enctype="multipart/form-data">
        <input
          type="text"
          style="border: none; outline: none"
          name="img"
          value="{{file}}"
          readonly
        />
        <input type="submit" value = "다운" />
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
