{% extends "layout.html" %} {% block content %}
<form action="/sign-out" method="GET">
  <button class="btn">Sign out</button>
</form>
<div class="main-title">
  <h2 class="mini-title">Input Database</h2>
  <form action="/input-db-do" method="POST" enctype="multipart/form-data">
    {% for file in files %}
    <li><label for="item">{{file}}</label> <button id="item">Input</button></li>
    {% endfor %}
  </form>
  image_name, x_min, x_max, y_min, y_max, label
  <section>
    <h4>image name</h4>
    <h4>x_min</h4>
    <h4>x_max</h4>
    <h4>y_min</h4>
    <h4>y_max</h4>
    <h4>label</h4>
    {% for i in output %}
    <span>{{i}}</span>
    {% endfor %}
  </section>
</div>
{% endblock %}
